.avatar {
    width: 48px;
    height: 48px;
    background: linear-gradient(231.48deg, #5581F1 -19.11%, rgba(85, 213, 241, 0) 124.13%), linear-gradient(315.41deg, #0094FF -38.58%, #AD64E7 112.49%);
    color:white;
}
