body {
  margin: 0;
  font-family: 'Poppins',sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}